@model Capstone.Web.Models.Park

@{
    ViewBag.Title = "SurveyConfirmation";
}

<h2>Thank You</h2>
<p>Thanks for participating in our survey!</p>
<p>Check out the park users voted highest on</p>

    <button><a href="@Url.Action("Detail", "Home", new {id = Model.ParkCode})">Here</a></button>




